<header>
  <h1>Glacier RP</h1>
  <div id='user_buttons'>
    <ul>
      <li>
        <h1 id='log_in' class='user_controls'>Log In</h1>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li>
        <h1 id='sign_up' class='user_controls'>Sign Up</h1>
      </li>
    </ul>
  </div>
</header>

<!-- <div id='user_forms_container' class='ui modal'> -->
<!-- </div> -->

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->