body {
  margin:0;
  background: #7f8c8d;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;

  header {
    border-bottom: 1px solid white;
    padding: 10px;
    overflow: auto;
    h1 {
      color: #2c3e50;
      margin: 0;
      float: left;
    }

    .user_controls {
      transition: all 0.2s;
    }

    .user_controls:hover {
      color: white;
    }

    #user_buttons {
      float: right;

      h1:hover {
        cursor: pointer;
      }

      ul {
        margin: 0;
        li {
          list-style-type: none;
          display: inline-block;
        }
      }

    }
  }

  .modal-footer {
    .shared_links {
      float: left;
    }
  }
}